/* For ex small */
@media (min-width: 350px) and (max-width: 575.98px) {
  /* index page */
  /* common style */
  .btn-main {
    font-size: 14px;
  }
  .timeline {
    width: 100% !important;
  }
  #main .social-link {
    width: 80% !important;
    padding: 20px 0;
    position: fixed;
    top: 97%;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    transform: translate(-50%, -97%);
  }
  #main .social-link i {
    font-size: 20px;
    color: black;
    font-weight: 700;
  }
  /* common style */

  /* animation */
  .glitch {
    font-size: 50px;
    margin-top: 100px;
  }
  /* navbar */
  .navbar {
    position: fixed;
    top: 0;
    z-index: 999;
    background: rgba(255, 255, 255, 0.205);
    backdrop-filter: blur(15px);
  }
  .navbar .navbar-brand img {
    width: 80%;
  }
  .navbar .navbar-toggler {
    border: 0;
  }
  .navbar .navbar-toggler:focus {
    border: 0;
    outline: 0;
    box-shadow: none;
  }
  .navbar .navbar-nav {
    align-items: center;
    justify-content: start;
    border-radius: 5px;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }
  .navbar .navbar-nav .nav-item .nav-link:hover {
    border-bottom: none;
  }
  /* body */

  body::after {
    width: 400px;
    top: 97%;
    font-size: 80px;
    transform: translateY(-97%);
  }
  #main .showcase {
    padding-bottom: 0;
    width: 100% !important;
  }
  #main .showcase .biography p {
    width: auto;
    font-size: 14px;
    line-height: 30px;
  }
  #main .showcase .call-to-action p {
    font-size: 14px;
    width: auto;
    line-height: 35px;
  }
  .btn-action {
    margin-top: 15px;
    margin-bottom: 70px;
  }

  /* index style end */
  /* about style start */
  #main .timeline .intro-text {
    margin-top: 200px;
    font-size: 45px;
    font-weight: 700;
  }
  #main .timeline .article li a {
    font-size: 14px;
  }

  #main .timeline .article li i {
    display: none;
  }
  #main .timeline .article li p {
    font-size: 12px;
    line-height: 20px;
  }
  /* about style end */
  /* project style start */
  #main .timeline .nav-btn {
    width: 100% !important;
  }
  #main .timeline .nav-btn .btn-main {
    background: transparent;
    font-size: 12px;
    padding: 5px 5px;
  }
  #main .timeline .project-preview .item {
    width: 100%;
    height: 250px;
  }
  /* project style end */
}
