@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700;900&family=Poppins:wght@400;500;600;700;900&display=swap");
:root {
  --mf-bg-prymary: #fffdfc;
  --mf-font-family-prymary: "Poppins", sans-serif;
  --mf-font-family-secondary: "Playfair Display", serif;
  --mf-link-color: #00000080;
  --mf-link-hover-color: rgb(165, 224, 157);
}
* {
  scroll-behavior: smooth;
}
/* commoun style */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.btn-main {
  color: black;
  background: #c9c3c03b;
  outline: none;
  transition: all 0.5s ease;
}

.btn-main:hover {
  color: #fffdfc;
  /* background: #9370db; */
  background-color: var(--mf-link-hover-color);
}
.btn-email {
  cursor: crosshair;
}
/* commoun style */

/* body style start */
body {
  height: 100vh;
  position: relative;
  background: #f3edea;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
body::after {
  position: fixed;
  top: 100%;
  opacity: 0.05;
  content: "Hello, There.";
  font-family: "Playfair Display", serif;
  width: 100%;
  font-weight: 900;
  font-size: 200px;
  transform: translateY(-100%);
  z-index: -1;
}
/* body style end */
/* navbar style start */
.navbar {
  padding-top: 10px;
}
.navbar .navbar-brand img {
  width: 15%;
}
.navbar .skip i {
  font-size: 40px;
}
.navbar .navbar-nav .nav-item {
  padding: 0 10px !important;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: rgb(0, 0, 0, 0.5);
}
.navbar .navbar-nav .nav-item .active {
  border-bottom: 1px solid #5c5c5c;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: rgb(0, 0, 0);
  /* border-bottom: 1px solid #5c5c5c; */
  border-bottom: 1px solid var(--mf-link-hover-color);
}
/* navbar style eend */

/* main section style */

/* showcase style start */
#main .showcase {
  padding: 100px 0;
  overflow-x: hidden;
}
#main .showcase .biography p {
  color: rgb(0, 0, 0, 0.7);
  width: 649px;
  line-height: 30px;
  padding: 20px 0;
}
#main .showcase .call-to-action p {
  color: rgb(0, 0, 0, 0.7);
  line-height: 30px;
}

.btn-action {
  margin-top: 50px;
  position: relative;
}

.btn-action span {
  position: relative;
}

.btn-action::before {
  content: "";
  position: absolute;
  left: -0.1px;
  right: -0.1px;
  bottom: 0;
  height: 100%;
  transform: scaleY(0);
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transform-origin: bottom;
  /* background-color: #9370db; */
  background: var(--mf-link-hover-color);
  opacity: 1;
  z-index: -1;
}

.btn-action:hover::before {
  transform: scaleY(1);
}
.btn-action:hover {
  color: rgb(255, 255, 255);
}
.btn-action:focus {
  border: none;
  outline: none;
}
#main .social-link {
  padding: 50px 0;
}
#main .social-link i {
  color: rgb(0, 0, 0, 0.5);
}

/* showcase style end */

/* main section style */
